<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

<body ng-app="">

    <div>
        <p>Digite um numero</p>
        <input type="text" ng-model="numero" placeholder="Enter name here">

        <p>{{numero}}</p>

        <p ng-if="numero % 2 == 0"> PAR </p>
        <p ng-if="numero % 2 != 0"> IMPAR </p>

        <pre>
            if (numero % 2 == 0){
                document.getElementbyId("saida").innerHTML= "PAR";
            } else {
                document.getElementbyId("saida").innerHTML= "IMPAR";
            }
        </pre>

    </div>

</body>

</html>