<h4>Endereços:</h4>

<div class="form-group">
    <label for="">CEP</label>
    <input type="text" name="cep" [(ngModel)]="cep" class="form-control">
    <button type="button" (click)="buscaCEP()"> Buscar </button>
</div>

<div class="form-group">
    <label for="">Endereço</label>
    <input type="text" name="cep" [(ngModel)]="endereco.logradouro" class="form-control">
</div>

<div class="form-group">
    <label for="">Bairro</label>
    <input type="text" name="cep" [(ngModel)]="endereco.bairro" class="form-control">
</div>

<div class="form-group">
    <label for="">Cidade</label>
    <input type="text" name="cep" [(ngModel)]="endereco.localidade" class="form-control">
</div>

<div class="form-group">
    <label for="">UF</label>
    <input type="text" name="cep" [(ngModel)]="endereco.uf" class="form-control">
</div>