<h4>Endereços:</h4>

<div class="form-inline my-2 my-lg">
    <input class="form-control mr-sm-2" type="text" name="cep" [(ngModel)]="cep" placeholder="Busca CEP" maxlength="9">
    <button class="btn btn-outline-primary my-2 my-sm-0 mr-2" type="button" (click)="buscaCEP()">Busca</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="salvarEndereco()">Salvar</button>
</div>

<div class="form-group">
    <label for="">Tipo de Endereco</label>
    <input type="text" name="cep" [(ngModel)]="endereco.tipo" class="form-control">
</div>

<div class="form-group">
    <label for="">Endereço</label>
    <input type="text" name="cep" [(ngModel)]="endereco.logradouro" class="form-control">
</div>

<div class="form-group">
    <label for="">Bairro</label>
    <input type="text" name="cep" [(ngModel)]="endereco.bairro" class="form-control">
</div>

<div class="form-group">
    <label for="">Cidade</label>
    <input type="text" name="cep" [(ngModel)]="endereco.localidade" class="form-control">
</div>

<div class="form-group">
    <label for="">UF</label>
    <input type="text" name="cep" [(ngModel)]="endereco.uf" class="form-control">
</div>

<div class="form-group">
    <label for="">Numero</label>
    <input type="text" name="cep" [(ngModel)]="endereco.numero" class="form-control">
</div>

<div class="form-group">
    <label for="">Complemento</label>
    <input type="text" name="cep" [(ngModel)]="endereco.complementos" class="form-control">
</div>

User: {{idUser}} - Endereço: {{idEndereco}}