<section class="container">
    <form action="" class="row" #fc="ngForm" (ngSubmit)="onSubmit(fc)">
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="">Nome <b class="text-danger" *ngIf="nome.invalid && nome.touched">Obrigatório</b> </label>
                <input type="text" name="nome" [(ngModel)]="usuario.nome" class="form-control" #nome="ngModel" required>
            </div>

            <div class="form-group">
                <label for="">E-mail <b class="text-danger" *ngIf="email.invalid && email.touched">Obrigatório</b>
                </label>
                <input type="email" name="email" [(ngModel)]="usuario.email" class="form-control" #email="ngModel"
                    required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            </div>

            <div class="form-group">
                <label for="">Telefone</label>
                <input type="tel" name="tel" [(ngModel)]="usuario.tel" class="form-control" [brmasker]="{phone: true}">
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="">Senha </label>
                <input type="password" name="pws" [(ngModel)]="usuario.pws" class="form-control" minlength="6" required
                    #senha="ngModel">
                <b class="text-danger" *ngIf="senha.invalid && senha.dirty"> Senha invalida!</b>
            </div>

            <div class="form-group">
                <label for="">Confirmação da senha</label>
                <input type="password" name="nome" [(ngModel)]="conf" class="form-control" required
                    #confSenha="ngModel">
                <b class="text-danger" *ngIf="senha.value != confSenha.value && senha.dirty"> Senhas diferentes!</b>
            </div>

            <!-- <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Escolha uma Foto</label>
            </div> -->

            <div class="form-group text-right py-2">
                <button type="submit" class="btn btn-primary"
                    [disabled]="fc.invalid || (senha.value != confSenha.value)"> Salvar </button>
                <button type="reset" class="btn btn-danger ml-1"> Cancelar </button>
            </div>
        </div>
    </form>
    <!-- <app-endereco-form></app-endereco-form> -->
</section>